a.links::after {
    content: '';
    width: 65%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin-inline: auto;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.links:hover::after {
    transform: scaleX(1);
}

@media screen and (max-width: 700px) {
    a.links::after {
        background-color: black;
    }

    .animation {
        animation: animate 0.3s ease-in-out;
        z-index: 9999;
    }
    .animation::before {
        content: '';
        position: fixed;
        top: 78px;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, 0.75);
        background-blend-mode: darken;
    }
    @keyframes animate {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }
}
 